body {
    background-color: #222;
    color: #fff;
    font-size: 2vh;
}

a {
    text-decoration: none;
    color: #0088ff;
    font-weight: bold;
}

#title {
    text-align: center;
    font-weight: bold;
    font-size: 10vh;
    padding: 0 auto;
}

#Z {
    color: #222;
    background-color: #fff;
    border-radius: 10px;
    display: inline;
}

#noteoffunny {
    text-align: center;
    font-size: 1.5vh;
}

#noteofinform {
    color: red;
}

::selection {
    background-color: white;
    color: black;
}

#Z::selection {
    background-color: gold;
    color: white;
}
